body {
    background-color: rgba(254, 207, 146, 0.50);
    font-family: 'Caudex', serif;
}

#mainNavbar {
    background-color: rgb(39, 179, 118);
}

.navbar-brand {
    font-size: 1.5em;    
    letter-spacing: .15rem;
}

.navbar-brand span {
    color: rgb(191, 33, 47);
}

#navLink {
    color: rgb(38, 75, 150);
    font-size: 1.25em;
    line-height: 1.5;
    transition: 500ms;
}

#navLink:hover {
    color: rgba(254, 207, 146);
    
}
